

body {
    margin: 50px;
    margin-top: 0;
    padding: 0;
    font: verdana;
}

.header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 50px;
}

.logo img {
    width: 300px; 
    height: auto;
    margin-right: 10px;
}

.social-icon {
    width: 30px; 
    height: auto;
    margin-left: 15px; 
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.slogan {
    font-size: 16px;
    color: #666;
}

nav {
    margin: 0px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

.placeholder1{
    margin-left: auto;
    display: flex;
    text-align: center;
}

nav a:hover {
    background: #ffffff;
    color: orangered;
}

.CabecerasEnlaces{
    align-items: center;
    justify-content: space-around;
}

header{
    background-color: orangered;
}

.bloque4{
    background-color: black;
    color: #ffffff;
    padding: 22px;
}

.bloque4 h2{
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto ;
}

.bloque5 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin: auto ;
}

.card {
    flex: 1;
    margin: 0px;
    padding: 85px;
    color: white;
    text-align: center;
}

.tendencia {
    background-color: #fba304 ; 
}

.crides {
    background-color: #c4d434 ; 
}

.edcamps {
    background-color:  #837bc3;
}

.bloque6{
    display: flex;
    margin-top: 0px;
    margin: auto ;
    
}

.card1{
    flex: 1;
    margin: 0px;
    color: white;
    text-align: center;
}

.div1{
    flex-grow: 0.5;
    padding-top: 50px;
    background-color: #ffffff;
    flex-direction: column;
    color: black;
    
}

.div2{
    
    padding-top: 50px;
    background-color:  #5ccce4;
    flex-direction: row;
   
}

.div3 {
    display: flex;
    justify-content: space-between;
    
}

.left{
    flex-grow: 0.86;
    padding: 85px;
    background-color:    #939393f6    ;
    justify-content: space-between;
}

.rigth{
    padding: 50px;
    background-color:  #dcdcdc ;
}